<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @player, url: "create" do |p| %>
	<%= p.label :name %>
	<%= p.text_field :name %>
	<br>
	<%= p.submit "Create" %>
<% end %>
