<!DOCTYPE html>
<html>
<head>
  <title>GoGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag		 'table_formatting' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'draw_pieces.js' %>

</body>
</html>
